* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*font-family: 'Oswald', sans-serif;
font-family: 'Secular One', sans-serif;*/

form {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100vw;

  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  margin: 20px;
}

input,
#btn,
label {
  font-family: "Secular One", sans-serif;
  font-size: 20px;
  margin: 20px;
  height: 60px;
  width: 300px;
}

input {
  padding-left: 20px;
}

p {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: bold;

  height: 50px;
  width: 400px;
  display: none;
  align-items: center;
  justify-content: center;
}
